<div class="comments__info">                
    <% post.recent_comments.each do |comment| %>
        <div class="com">
            <%= comment.author.name %>: <%= comment.text %>
            <% if can? :destroy, comment %>
                <%= button_to "Delete", user_post_comment_path(comment.author, comment.post,comment), method: :delete %>
            <% end %>  
        </div>            
    <% end %>
</div>