/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #111;
}

html {
  font-family: "Roboto", serif;
}

body {
  background: white;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1rem;
  padding: 1em 0;
}

img {
  max-width: 100%;
}

a { text-decoration: none; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

:is(.grid, .cards, .cards__info, .new_user) {
  display: grid;
  gap: 1rem;
  align-items: center;
}

.cards {
  width: 100%;
  grid-template-columns: 150px 1fr;
}

.new_user > * {
  width: 75%;
}

.field > * {
  width: 90%;
}

.cards--posts {
  grid-template-columns: 1fr;
  gap: 0.1rem;
}

.cards:not(.cards--posts) > * { height: 150px; }

.cards__info--pp {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
}

.cards__info--pp > :nth-child(2) {
  grid-column: 1/3;
}

.cards__item__ra {
  justify-self: right;
}

:is(.btn__holder, .button_to) {
  justify-self: center;
  display: flex;
  gap: 0.75em;
}

:is(.cards > :not(.button_to), .container > :not(.cards, .btn__holder)) {
  border: 2px solid #454545;
  padding: 1rem;
}

.button {
  padding: 0.5em 1em;
  border-radius: 0.5em;
  border: 1px solid #111;
}

.button:hover { cursor: pointer; }

.mid {
  justify-content: center;
}
